
QPushButton {
    font-size: 16px;
}

QPushButton[active_item = true] {
    padding: 5px;
    border: 2px solid #11698E;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0;
    background-color: rgba(25, 69, 107, 0.15);
}

